@import "ember-bootstrap/bootstrap";

* {
    margin: 0;
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  span,
  li,
  a,
  button {
    font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }
  body {
    background: #f3f3f3;
  }

.formElement{
    margin-top:15px;
}
h1,form,.input,.userPageElement,#vehiclesList{
    text-align: center;
}
.input{
    width:40%;
    
}
form,.buttonHolder{
    display: grid;
    place-items: center;
}
h1{
    margin-bottom: 150px;
}
#label{
    font-size: 30px;
}
#loginLink{
    margin: auto;
    display: block;
    width:30%;
}
.userPageElement{
    margin-top: 10px;
    margin-bottom: 10px;
}
#vehicleItem{
    margin-top:10px;
    font-size: 35px;
}
#vehicleInfo{
    max-width:800px;
    max-height: fit-content;
    margin:auto;
    display: block;
}
#vehicleKm{
    float: right;
}
#vehicleImage{
    border-radius: 20px;
    width: 500px;
    height:300px;
    padding: 20px;
}
#imageEditor{
    position: relative;
    top:350px;
    right: 600px;
}
#formVehicleImage{
    border-radius: 20px;
    width: 300px;
    height:200px;
    padding: 10px;
}
#formImagePlaceholder{
    border-radius: 20px;
    width:300px;
    height:250px;
}
#imageEdit{
    margin-left: 20px;
    width:80px;
    height: 50px;
    background-color: white;
    color:#007BFF;
    font-weight: bold;
    position: relative;
    bottom: 50px;
    left: 150px;
}
#imageDelete{
    width:120px;
    height: 50px;
    background-color: white;
    color:#007BFF;
    font-weight: bold;
    position: relative;
    left: 20px;
    bottom: 3px;
}
#vehicleForm{
    position: relative;
    left:100px;
    bottom:350px;
}
#formRegNum,#vin,#engineNum{
    text-transform: uppercase;
}
#documentsDiv{
    place-items: center;
}
#startKm{
    margin-bottom: 50px;
}
.form-check-input{
    width: 35px;
    height: 35px;
}
.checklabel{
    margin-left: 40px;
    font-size: 25px;
}
.checkboxHolder{
    margin-top:40px;
}
#passwordToggler{
    width:40x;
    height:40px;
    margin:10px;
}
#saveVehicleData{
    margin-top: 200px;
    width:400px;
    height: 70px;
}
#brandName,#brandNameLabel,#modelName,#modelNameLabel{
    display: none;
}
#toggleBrand,#toggleModel{
    margin-bottom: 20px;
}
