@import "ember-bootstrap/bootstrap";

* {
    margin: 0;
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  span,
  li,
  a,
  button {
    font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }
  body {
    background: #f3f3f3;
  }

.formElement{
    margin-top:15px;
}
h1,h2,form,.input,#developersList{
    text-align: center;
}
.input{
    width:40%;
}
form,.buttonHolder{
    display: grid;
    place-items: center;
}
h1{
    margin-bottom: 120px;
    margin-top: 60px;
}
h2{
    margin-bottom: 80px;
}
#label{
    font-size: 30px;
}
#loginLink{
    margin: 40px auto;
    display: block;
    width:30%;
}
#developerItem{
    margin-top:10px;
    font-size: 35px;
}
.form-check-input{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0px;
}
.checkbox-container{
    margin:20px;
}
.checklabel{
    font-size: 25px;
}
.checkboxHolder{
    margin:20px auto;
    width:30%;
}
#descriptionLabel{
    margin-top: 50px;
    margin-bottom: 20px;
}
#description{
    margin-bottom: 50px;
}
#years{
    margin-top:20px;
    margin-bottom: 30px;
}
#langSelect{
    margin-bottom: 30px;
}
#dev-id{
    display: none;
}
#delete-button{
    position: fixed;
    top:30px;
    right:40px;
}
#create-button{
    margin: 20px auto;
    position: absolute;
    left:35%;
}
#hire-button{
    margin: 20px auto;
    position: absolute;
    left:50%;
}
#dateSelector{
    padding :20px;
}
#dateSelector label{
    font-size: 20px;
    margin-right: 30px;
}