<h2 class='userPageElement'>Email :</h2><br>
<h4 class='userPageElement'>{{@model.email}}</h4><br>
<h2 class='userPageElement'>First Name : </h2>
<h4 class='userPageElement'>{{@model.fName}}</h4><br>
<h2 class='userPageElement'>Last Name : </h2>
<h4 class='userPageElement'>{{@model.lName}}</h4>