<div class="form-check checkboxHolder">
    {{#each @vehicleAttr as |attr|}}
        {{#if (includes @number attr.value)}}
            <input class="form-check-input" type="checkbox" checked >
        {{else}}
            <input class="form-check-input" type="checkbox" >
        {{/if}}
        <label class="form-check-label checklabel">{{@text}}</label>
    {{/each}}
</div>