 <div class="form-group">
    <label for="monthSelect">Month</label>
    <select required class="form-control" id="monthSelect">
        {{#each this.months as |month|}}
            <option selected={{is-equal month @vehicleMonth}}>{{month}}</option>
        {{/each}}
    </select>
</div>