<div class="buttonHolder">
    <button  class='btn btn-primary btn-lg homeButton' type='button' {{on 'click' this.logOut}}>Log Out</button><br>
    <button  class='btn btn-primary btn-lg homeButton' type='button' {{on 'click' this.vehiclesList}}>Vehicles</button><br>
    <button  class='btn btn-primary btn-lg homeButton' type='button' {{on 'click' this.userMe}}>Profile Data</button><br> 
</div>
