<div class="form-group">
    <label for="yearSelect">Year</label>
    <select required class="form-control" id="yearSelect">
        {{#each this.years as |year|}}
            <option selected={{is-equal year @vehicleYear}}>{{year}}</option>
        {{/each}}
    </select>
</div>