<h1>Welcome to Prime Hiring</h1>
<LinkTo @route="sign-up" id="loginLink"class="btn btn-primary btn-lg">Sign Up</LinkTo>
<LinkTo @route="login" id="loginLink"class="btn btn-primary btn-lg">Log In</LinkTo>